@* <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router> *@


@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">

        <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">

                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>

            

                <Authorizing>
                    <div class="text-center mt-5">
                        <div class="spinner-border"></div>
                        <p>Checking authentication...</p>
                    </div>
                </Authorizing>

            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />

        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <NotFound />
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
